:host{
    color: #e4e7df;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    padding-top: 5px;
    flex: 0 1 90px;
}

footer{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly
}

.global-footer-component {
  width: 130px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  /*font-size: 10px;*/
  display: flex;
  font-size: 9px;
  flex-flow: row wrap;
  align-items: center;
}

.footer-text{
  color : darkgray;
}

a {
  text-decoration: none;
}

a.footer-link:visited {
  color: darkgray;
}
a.footer-link:hover {
  color: darkgray;
}
a.footer-link:active {
  color:darkgray;
}


.footer-icon {
  height: 24px;
  vertical-align: center;
  padding-right: 5px;
}
