/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "app-theme";

.html .body{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}


.right-aligned-header > .mat-content {
    justify-content: space-between;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
  flex: 0 0 auto;

}

@media (min-width:200px) and (max-width:700px) {
  .sticky {
    position: fixed;
    top: 15px;
    left: auto;
    right: 15px;
    max-width: 280px;
    max-height: 158px;
    width: 280px;
    height: 158px;
  }

}


